@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;

}


.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    


    
    margin: 60px auto 0 auto;
    

}
button{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 950;
    font-size: 25px;
    background-color: hsl(0, 0%, 18%);
    color: hsl(130, 100%, 50%);
    border-radius: 10px;
    outline: none;
    transition: 0.2s all;
    
	box-shadow: 0px 0px 9px -1px hsla(0, 0%, 32%, 0.24);
    
}
button:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px hsla(0, 0%, 20%, 0.24);
    /* Lowering the shadow */
}



.calculator{
    position: relative;
    
    border-radius: 20px;
    padding: 10px;
    width: 340px;
    height: 650px;
    overflow: hidden;
    background: linear-gradient(42deg, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 100%);
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.2rem;
    
    font-family: 'Roboto', sans-serif;
    color: #fff;


    width: 100%;
    height: 190px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    
}

.previous-number{
    color: green;
    width: 100%;
    height: 35px;
    text-align: right;
    font-size: 18px;
    padding: 10px;
}

.current-number{
    
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 33px;
    padding: 10px;
}

.operation-container{
    
    padding: 5px;
    height: 400px;
    margin-top: 23px;

}

.Buttons-and-side{
    display: flex;

    width: 100%;
    gap: 10px;
}

.side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 70px;
}

.buttons{

    width: 230px;
    height: 305px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.number{
    width: 70px;
    height: 70px;
}

.number.zero{
    width: 150px;
    height: 70px;
    

}

.Decimal{
    width: 70px;
    height: 70px;

}


.operations{
    display: flex;

    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
    


}
.operator{
    width: 70px;
    height: 70px;
    color: hsl(231, 100%, 50%);

}

.style-number{
    width: 70px;
    height: 70px;
    background-color: hsla(0, 0%, 55%, 0.678);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}


.special-size{
    margin-top: 5px;
    width: 70px;
    height: 105px;

}

